

<%if(type == "land"){%>
        <div class="container d-flex justify-content-center" style="min-height: 100px;">        
            <div class="s002" id="searchData">
            <form onsubmit="return false;" >
                <div class="inner-form">
                <div class="input-field second-wrap">
                    <div class="icon-wrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                    </svg>
                    </div>
                    <input id="fromTime" name="fromTime" class="datepicker" id="depart" type="text" placeholder="Từ thời gian" />
                </div>
                <div class="input-field third-wrap">
                    <div class="icon-wrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                    </svg>
                    </div>
                    <input id="toTime" name="toTime" class="datepicker" id="return" type="text" placeholder="Đến thời gian" />
                </div>
        
                <div class="input-field fifth-wrap">
                    <button id="buttonLand" class="btn-search" type="submit">Xem</button>
                </div>
                </div>
            </form>
            </div>
        
        </div >
        
        <div id="showLand">
        </div>

<%}else{%>
    <div class="container d-flex justify-content-center" style="min-height: 100px;">        
        <div class="s002" id="searchData">
            <form onsubmit="return false;" >
            <div class="inner-form">
              <div class="input-field second-wrap">
                <div class="icon-wrap">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                  </svg>
                </div>
                <input id="fromTime" name="fromTime" class="datepicker" id="depart" type="text" placeholder="Từ thời gian" />
              </div>
              <div class="input-field third-wrap">
                <div class="icon-wrap">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                  </svg>
                </div>
                <input id="toTime" name="toTime" class="datepicker" id="return" type="text" placeholder="Đến thời gian" />
              </div>
    
              <div class="input-field fifth-wrap">
                <button id="buttonUser" class="btn-search" type="submit">Xem</button>
              </div>
            </div>
          </form>
        </div>
    
      </div >
      <div id="showUser">
      </div>
    
    


<%}%>

</script>

<script src="/js/search/extention/choices.js"></script>
<script src="/js/search/extention/flatpickr.js"></script>
<script>
  flatpickr(".datepicker",
  {});

</script>
<script>
  const choices = new Choices('[data-trigger]',
  {
    searchEnabled: false,
    itemSelectText: '',
  });

</script>


<script>

$(document).ready(function(){
    $('#buttonLand').click(function(e){
      let fromTime = $("#fromTime").val();
      let toTime = $("#toTime").val();

        $('#showLand').html(
    `
                <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.5);">
                    <div
                    class="
                        animate-spin
                        rounded-full
                        h-16
                        w-16
                        border-t-2 border-b-2 border-purple-500
                    "
                    ></div>&emsp;
                    <div>LOADING...</div>
                </div>
                `
            )
        $.ajax({type: "POST",url: "/dataDetailStatistical",data:{type:"land",fromTime:fromTime,toTime:toTime} ,success: function(result){
          $("#showLand").html(result);
        }});
      });
  });

  $(document).ready(function(){
    $('#buttonUser').click(function(e){
      let fromTime = $("#fromTime").val();
      let toTime = $("#toTime").val();
        $('#showUser').html(
    `
                <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.5);">
                    <div
                    class="
                        animate-spin
                        rounded-full
                        h-16
                        w-16
                        border-t-2 border-b-2 border-purple-500
                    "
                    ></div>&emsp;
                    <div>LOADING...</div>
                </div>
                `
            )
        $.ajax({type: "POST",url: "/dataDetailStatistical",data:{type:"user",fromTime:fromTime,toTime:toTime} ,success: function(result){
          $("#showUser").html(result);
        }});
      });
  });



</script>



