






<form id="formTransfer" action="/handleTransferLand" method="post" onsubmit="return false;">
  <div class="form-group">
    <label>Mã đang được chuyển: </label>
    <input type="text" class="form-control w-64" name="key" id="keyLane" placeholder="Nhập mã" value="<%= key %>" disabled>
  </div>
  <div id="count">

  </div>
  <div class="form-group">
    <label>Số tiền: </label>
    <input type="text" class="form-control w-64" name="amount" value="0" placeholder="Nhập số tiền">
  </div>
  <div id="error"></div>
<button id="confirm" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Chuyển ngay</button>
</form>



</div>

<div id="recaptcha-container"></div>

<div style="height: 100px;"></div>

<script type="module" src="/js/transferLandClient.js"></script>

<script>

  $(document).ready(function(){
    $.ajax({type:"POST" ,url: "/addAssetFormOwner" , data:{count:1,listCoOwner:""}, success: function(result){
          $("#count").html(result);
        }});
  });
</script>


<script>
$("#submitOTP").click(function(){
  $('#loading').html(
    `
    <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.5);">
        <div
        class="
            animate-spin
            rounded-full
            h-16
            w-16
            border-t-2 border-b-2 border-purple-500
        "
        ></div>&emsp;
        <div>LOADING...</div>
    </div>
    `
    )
  // $("#submitTransferToken").submit()
})
</script>