
<form  id="formAdd" action="./handleAddAssetCo" method="post" enctype="multipart/form-data" onsubmit="return false;">
      <div class="form-group">
        <label>Thửa đất số</label>
        <input type="text" class="form-control" name="thuasodat" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Tờ bản đồ số	</label>
        <input type="text" class="form-control" name="tobandoso" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Diện tích (m2)</label>
        <input type="text" class="form-control" name="dientich" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Hình thức sử dụng</label>
        <select name="hinhthucsudung" class="text-green-700 form-control block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          <option disabled class="text-blue-700"
          >* Nhận quyền sử dụng đất từ Nhà nước</option>
          <option selected="selected" value="Được Nhà nước giao đất"
          > &emsp;- Được Nhà nước giao đất.</option>
          <option  value="Được Nhà nước cho thuê đất"
          > &emsp;- Được Nhà nước cho thuê đất.</option>
          <option value="Được Nhà nước cho phép chuyển mục đích sử dụng đất"
          > &emsp;- Được Nhà nước cho phép chuyển mục đích sử dụng đất.</option>
          <option value="Được Nhà nước công nhận quyền sử dụng đất"
          > &emsp;- Được Nhà nước công nhận quyền sử dụng đất.</option>
          <option disabled class="text-blue-700"
          >* Nhận quyền sử dụng đất từ chủ thể sử dụng đất khác:</option>
          <option disabled
          > &emsp;- Nhận chuyển quyền sử dụng đất:</option>
          <option value="Nhận chuyển đổi"
          > &emsp; &emsp;+ Nhận chuyển đổi.</option>
          <option value="Nhận chuyển nhượng"
          >  &emsp; &emsp;+ Nhận chuyển nhượng.</option>
          <option value="Nhận thừa kế"
          >  &emsp; &emsp;+ Nhận thừa kế.</option>
          <option value="Nhận tặng cho"
          >  &emsp; &emsp;+ Nhận tặng cho.</option>
          <option value="Nhận góp vốn"
          >  &emsp; &emsp;+ Nhận góp vốn.</option>
          <option value="Thuê quyền sử dụng đất từ chủ thể sử dụng đất khác"
          > &emsp;- Thuê quyền sử dụng đất từ chủ thể sử dụng đất khác.</option>
          <option value="Thuê lại quyền sử dụng đất từ chủ thể sử dụng đất khác"
          > &emsp;- Thuê lại quyền sử dụng đất từ chủ thể sử dụng đất khác.</option>
          <option 
          > * Khác</option>
          
        </select>
      </div>
      <div class="form-group">
        <label>Mục đích sử dụng	</label>
        <select name="mucdichsudung" class="text-green-700 form-control block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          <option disabled class="text-blue-700"
          >* Nhóm đất nông nghiệp bao gồm các loại đất sau đây:</option>
          <option value="Đất trồng cây hàng năm gồm đất trồng lúa và đất trồng cây hàng năm khác" selected="selected"
          > &emsp;- Đất trồng cây hàng năm gồm đất trồng lúa và đất trồng cây hàng năm khác</option>
          <option value="Đất trồng cây lâu năm"
          > &emsp;- Đất trồng cây lâu năm</option>
          <option value="Đất rừng sản xuất"
          > &emsp;- Đất rừng sản xuất</option>
          <option value="Đất rừng phòng hộ"
          > &emsp;- Đất rừng phòng hộ</option>
          <option value="Đất rừng đặc dụng"
          > &emsp;- Đất rừng đặc dụng</option>
          <option value="Đất nuôi trồng thủy sản"
          > &emsp;- Đất nuôi trồng thủy sản</option>
          <option value="Đất làm muối"
          > &emsp;- Đất làm muối</option>
          <option value="Đất nông nghiệp khác"
          > &emsp;- Đất nông nghiệp khác</option>
          <option disabled class="text-blue-700"
          >* Nhóm đất phi nông nghiệp bao gồm các loại đất sau đây::</option>
          <option value="Đất ở gồm đất ở tại nông thôn, đất ở tại đô thị"
          > &emsp;- Đất ở gồm đất ở tại nông thôn, đất ở tại đô thị:</option>
          <option value="Đất sử dụng vào mục đích quốc phòng, an ninh"
          > &emsp;- Đất sử dụng vào mục đích quốc phòng, an ninh</option>
          <option  value="Đất xây dựng công trình sự nghiệp"
          > &emsp;-  Đất xây dựng công trình sự nghiệp</option>
          <option  value="Đất sản xuất, kinh doanh phi nông nghiệp"
          > &emsp;-  Đất sản xuất, kinh doanh phi nông nghiệp</option>
          <option  value="Đất sử dụng vào mục đích công cộng"
          > &emsp;- Đất sử dụng vào mục đích công cộng</option>
          <option  value="Đất cơ sở tôn giáo, tín ngưỡng"
          > &emsp;- Đất cơ sở tôn giáo, tín ngưỡng</option>
          <option  value="Đất làm nghĩa trang, nghĩa địa, nhà tang lễ, nhà hỏa táng"
          > &emsp;- Đất làm nghĩa trang, nghĩa địa, nhà tang lễ, nhà hỏa táng</option>
          <option  value="Đất sử dụng vào mục đích quốc phòng, an ninh"
          > &emsp;- Đất sử dụng vào mục đích quốc phòng, an ninh</option>
          <option  value="Đất phi nông nghiệp khác"
          > &emsp;- Đất phi nông nghiệp khác</option>
          <option class="text-blue-700"
          > * Nhóm đất chưa sử dụng gồm các loại đất chưa xác định mục đích sử dụng</option>
          
        </select>
      </div>
      <div class="form-group">
        <label>Thời hạn sử dụng	</label>
        <select name="thoihansudung" class="text-green-700 form-control block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          <option selected="selected" value="Đất sử dụng ổn định lâu dài"
          > &emsp;- Đất sử dụng ổn định lâu dài</option>
          <option value="Đất sử dụng có thời hạn"
          > &emsp;- Đất sử dụng có thời hạn</option>
        </select>
      </div>
      <div class="form-group">
        <label>Nguồn gốc sử dụng	</label>
        <select name="nguongocsudung" class="text-green-700 form-control block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          <option selected="selected" value="Nhà nước giao đất không thu tiền sử dụng đất"
          > &emsp;- Nhà nước giao đất không thu tiền sử dụng đất</option>
          <option value="Nhà nước giao đất có thu tiền sử dụng đất"
          > &emsp;- Nhà nước giao đất có thu tiền sử dụng đất</option>
          <option value="Nhà nước cho thuê đất trả tiền một lần"
          > &emsp;- Nhà nước cho thuê đất trả tiền một lần</option>
          <option value="Nhà nước cho thuê đất trả tiền hàng năm"
          > &emsp;- Nhà nước cho thuê đất trả tiền hàng năm</option>
          <option value="Công nhận QSDĐ như giao đất có thu tiền sử dụng đất"
          > &emsp;- Công nhận QSDĐ như giao đất có thu tiền sử dụng đất</option>
          <option value="Công nhận QSDĐ như giao đất không thu tiền sử dụng đất"
          > &emsp;- Công nhận QSDĐ như giao đất không thu tiền sử dụng đất</option>
          <option value="Thuê đất trả tiền một lần của doanh nghiệp đầu tư hạ tầng khu công nghiệp"
          > &emsp;- Thuê đất trả tiền một lần của doanh nghiệp đầu tư hạ tầng khu công nghiệp</option>
          <option value="Thuê đất trả tiền hàng năm của doanh nghiệp đầu tư hạ tầng khu công nghiệp"
          > &emsp;- Thuê đất trả tiền hàng năm của doanh nghiệp đầu tư hạ tầng khu công nghiệp</option>
        </select>
      </div>

      <div class="form-group">
        <label>Đất thuộc tỉnh/TP</label>
        <select name="landOfCity" class="text-green-700 form-control block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          <option selected="selected" value="TP.HCM"
          > &emsp;- TP.HCM</option>
          <option  value="TP.Cần Thơ"
          > &emsp;- TP.Cần Thơ</option>
        </select>
      </div>

      <div class="form-group">
        <label>Người sở hữu</label>
        <input type="text" class="form-control" name="owner" placeholder="Người sở hữu" value="<%= user.fullname%>" disabled>
      </div>

      <div class="form-group">
        <label>Thêm bao nhiêu người cùng sở hữu</label>
        <input id="countOwner" type="text" class="form-control" name="countOwner" placeholder="Nhập ">
      </div>
      
      <div id="count">

      </div>

      <div id="accordion" >
        <div class="card">
          <div class="card-header" id="headingOne" style="background: rgba(0, 0, 0, 0.8);">
            <h5 class="mb-0">
              <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Nhập tọa độ của các đỉnh mảnh đất
              </a>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="background: rgba(0, 0, 0, 0.8);">
              <div class="form-group">        
                <label>Số đỉnh của mảnh đất </label>
                <input id="countCoordinates" class="form-control" name="countCoordinates" type="text" placeholder="Đất có bao nhiêu đỉnh">
            </div>
  
            <div id="showCoordinates">
  
            </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo" style="background: rgba(0, 0, 0, 0.8);">
            <h5 class="mb-0">
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Nhập chiều dài của các cạnh mảnh đất
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body" style="background: rgba(0, 0, 0, 0.8);">
              <div class="form-group">        
                <label>Số cạnh của mảnh đất </label>
                <input id="countLengths" class="form-control" name="countLengths" type="text" placeholder="Đất có bao nhiêu  cạnh">
               </div>
            
                <div id="showLengths">
            
                </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree" style="background: rgba(0, 0, 0, 0.8);">
            <h5 class="mb-0">
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Nhập các thửa giáp ranh của mảnh đất
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body" style="background: rgba(0, 0, 0, 0.8);">
              <div class="form-group">        
                <label>Số thửa giáp ranh của mảnh đất </label>
                <input id="countParcels"  class="form-control" name="countParcels" type="text" placeholder="Đất có bao nhiêu đỉnh">
               </div>
           
                <div id="showParcels">
           
                </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label>Thêm ảnh	</label>
         <input id="image" name="image" type="file" alt="Submit" width="48" height="48" multiple="multiple">
      </div>
      

      <div class="form-group">
         <input id="url" name="url" type="hidden" alt="Submit" width="48" height="48" multiple="multiple">
      </div>



    <button id="addButton" class="btn btn-primary">Đăng ký</button>
  </form>

<div style="height: 100px;"></div>

<script type="module">
  import app from '/js/config.js';
  import { getStorage, ref, uploadBytes,uploadBytesResumable,getDownloadURL } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-storage.js";

  const storage = getStorage(app);


  const form = document.getElementById("formAdd")

  document.getElementById('addButton').addEventListener('click',function(){
    const selectedFile = document.getElementById('image').files[0];
    const storageRef = ref(storage, selectedFile.name);
    const uploadTask = uploadBytesResumable(storageRef, selectedFile);

    // Register three observers:
    // 1. 'state_changed' observer, called any time the state changes
    // 2. Error observer, called on failure
    // 3. Completion observer, called on successful completion
      uploadTask.on('state_changed', 
        (snapshot) => {
          // Observe state change events such as progress, pause, and resume
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log('Upload is ' + progress + '% done');
          switch (snapshot.state) {
            case 'paused':
              console.log('Upload is paused');
              break;
            case 'running':
              console.log('Upload is running');
              break;
          }
        }, 
        (error) => {
          // Handle unsuccessful uploads
        }, 
        () => {

          getDownloadURL(uploadTask.snapshot.ref).then((downloadURL) => {
            console.log('File available at', downloadURL);
            document.getElementById('url').value = downloadURL;
            form.submit()
          });

        }
      );

    console.log(document.getElementById('url').value)

  })

</script>

<script>

  

  $("#addButton").click(function(){
          $('#loading').html(
            `
            <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.5);">
                <div
                class="
                    animate-spin
                    rounded-full
                    h-16
                    w-16
                    border-t-2 border-b-2 border-purple-500
                "
                ></div>&emsp;
                <div>LOADING...</div>
            </div>
            `
            )
          // $("#submitTransferToken").submit()
  })

    $(document).ready(function(){
      $('#countOwner').on('input',function(e){
        console.log("OKOKOKOK")
          $.ajax({type:"POST",url: "/addAssetFormOwner",data:{count:this.value,listCoOwner:""}, success: function(result){
            $("#count").html(result);
          }});
        });

    });

    $(document).ready(function(){
    $('#countCoordinates').on('input',function(e){
        $.ajax({type: "POST",url: "/addCoordinatesForm",data:{count:this.value} ,success: function(result){
          $("#showCoordinates").html(result);
        }});
      });
  });

  $(document).ready(function(){
    $('#countLengths').on('input',function(e){
        $.ajax({type: "POST",url: "/addLength",data:{count:this.value} ,success: function(result){
          $("#showLengths").html(result);
        }});
      });
  });


  $(document).ready(function(){
    $('#countParcels').on('input',function(e){
        $.ajax({type: "POST",url: "/addParcels",data:{count:this.value,parcels:""} ,success: function(result){
          $("#showParcels").html(result);
        }});
      });
  });

</script>

