




<br>
<div class="d-flex justify-content-center">
    <form style="width: 30%;">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên văn phòng</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <button type="submit" class="btn btn-primary">Xác nhận</button>
      </form>
    
    
    
    
</div>










