
<br>

  <%
    if(messages.error > 0){
  %>
    <div id="flash" class="alert alert-success d-flex justify-content-between" style="text-align:center;">
    <%= message.error %>
    <button id="delete">X</button>
    </div>
  <%
    }
  %>

<div class="container">

  <select id="StatusOwner" name="mucdichsudung" class="text-green-700 form-control block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" >
    <option 
     value="Chọn hình thức chuyển nhượng">Chọn hình thức chuyển nhượng</option>
    <option value="Chuyển cho 1 người">Chuyển cho 1 người</option>
    <option value="Nhiều người sở hữu">Chuyển cho nhiều người</option>
</select>

<div id="demo">

</div>

<input type="hidden" id="key" value=<%= key%> >
<input type="hidden" id="userTransfer" value=<%= userId%> >

<script>
   if(document.getElementById("delete")){
    document.getElementById("delete").addEventListener("click",function(){
      document.getElementById("flash").remove()
    })
   }
</script>


<script>
  $(document).ready(function(){
  $("#StatusOwner").change(function(){
      let key = $("#key").val();
      let value = this.value;
      let url;
      if(value == "Chọn hình thức chuyển nhượng"){
        url = "/blank"
      }
      if(value == "Chuyển cho 1 người"){
        url = `/transferLandOne/${key}` 
      }else{
        url = `/transferLandCo/${key}`
      }
    $.ajax({url: url, success: function(result){
      $("#demo").html(result);
    }});
  });
  });
</script>




